<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cart</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/admin/add-product">Add Product</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/orders">Orders</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <% if (cartItems.length > 0) { %>
      <h1>Products in cart</h1>
      <% for (let cartItem of cartItems) {%>
      <h1><%=cartItem.productID.title%></h1>
      <div>
        Price: <%=cartItem.productID.price + ' x ' + cartItem.quantity + ' = ' +
        cartItem.productID.price * cartItem.quantity%>
      </div>
      <div>Quantity: <%=cartItem.quantity%></div>
      <form action="/cart/delete" method="POST">
        <button type="submit">Delete</button>
        <input
          type="hidden"
          name="productID"
          value="<%=cartItem.productID._id%>"
        />
      </form>
      <% } %>
      <h1>Total cost of cart: <%= totalPrice %></h1>
      <hr />
      <div>
        <form action="/order" method="POST">
          <button type="submit" class="btn">Order</button>
        </form>
      </div>
      <% } else { %>
      <div>No Cart Items</div>
      <%}%>
    </main>
  </body>
</html>
