<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= product.title %></title>
  </head>

  <body>
    <main>
      <h1><%= product.title %></h1>
      <img src="<%= product.imageURL %>" />
        <div>Price: <%= product.price %></div>
        <div>Description: <%= product.description %></div>
        <div>
          <form
            action="/admin/edit-product/<%= product.id %>?edit=true"
            method="GET"
          >
            <button type="submit">Edit</button>
            <input type="hidden" name="edit" value="true" />
          </form>
          <form action="/admin/delete-product" method="POST">
            <button type="submit">Delete</button>
            <input type="hidden" name="productID" value="<%=product.id%>" />
          </form>
          <form action="/cart" method="POST">
            <button type="submit">Add to cart</button>
            <input type="hidden" name="productID" value="<%=product.id%>"/>
          </form>
    </main>
  </body>
</html>
