<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= product.title %></title>
  </head>

  <body>
    <%- include('./navigation.ejs') %>
    <main>
      <h1><%= product.title %></h1>
      <img src="/<%= product.imageURL %>" />
      <div>Price: <%= product.price %></div>
      <div>Description: <%= product.description %></div>
      <% if (loggedIn) { %>
      <form
        action="/admin/edit-product/<%= product._id %>?edit=true"
        method="GET"
      >
        <button type="submit">Edit</button>
        <input type="hidden" name="edit" value="true" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      </form>
      <form action="/admin/delete-product" method="POST">
        <button type="submit">Delete</button>
        <input type="hidden" name="productID" value="<%=product._id%>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      </form>
      <form action="/cart" method="POST">
        <button type="submit">Add to cart</button>
        <input type="hidden" name="productID" value="<%=product._id%>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      </form>
      <% } %>
    </main>
  </body>
</html>
