<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shop</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/admin/add-product">Add Product</a></li>
          <li><a href="/cart">Cart</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <% if (products.length > 0) { %>
      <div>Products</div>
      <% for (let product of products) {%>
      <div>
        <h1><%= product.title %></h1>
        <img src="<%= product.imageURL %>" />
        <div>Price: <%= product.price %></div>
        <div>Description: <%= product.description %></div>
        <div>
          <a href="/products/<%=product.id%>">Details</a>
          <form
            action="/admin/edit-product/<%= product.id %>?edit=true"
            method="GET"
          >
            <button type="submit">Edit</button>
            <input type="hidden" name="edit" value="true" />
          </form>
          <form action="/admin/delete-product" method="POST">
            <button type="submit">Delete</button>
            <input type="hidden" name="productID" value="<%=product.id%>" />
          </form>
          <form action="/cart" method="POST">
            <button type="submit">Add to cart</button>
            <input type="hidden" name="productID" value="<%=product.id%>" />
          </form>
        </div>
      </div>
      <% } %> <% } else { %>
      <div>No Products Found</div>
      <%}%>
    </main>
  </body>
</html>
